




<!-- HEADER -->
<div class="mb-5">
  <h3>About This Project</h3>
  <div>To build a website-based application that is flexible and compatible with some of the needs of this device designed for that, the backend will be the same as building a website with Codeigniter 3 because it's built on that.</div>
  <br>
  <div>It is also permissible to customize this device if there are special needs or a lack of device flexibility, you can send an issue to my repository for cases like this.</div>
  <br>
  <div>feel free to ask. </div>
  <br>
  <div>
    My github : <a href="https://github.com/AnwarAchilles">https://github.com/AnwarAchilles</a>
  </div>
</div>