<!-- NAVBAR -->
<div class="sticky-top w-100 bg-light border overflow-auto scrollbar">
  <div class="navigation-content">
    <a href="#header" class="border-end">#</a>
    <a href="#installation" class="border-end">Installation</a>
    <a href="#how_to_use" class="border-end">How To Use</a>
  </div>
</div>

<!-- HEADER -->
<div id="header" class="mb-5 pt-5">
  <h3>HTTP Request with CURL</h3>
  <div>
    HTTP request to server based on CURL PHP, already installed as a library in Nirvana and there are methods in CoreController to make requests in methods such as GET, POST, PUT, DELETE
  </div>
  <br>
  <div>
    About the plugin : <a href="https://github.com/philsturgeon/codeigniter-curl">https://github.com/philsturgeon/codeigniter-curl</a>
  </div>
</div>

<div id="installation" class="mb-5 pt-5">
  <h5>Intstallation</h5>
  <div class="mb-3">
    <div>Curl is available as a library, and can only be called in CoreController by means of</div>
    <div class="code-box : bg-dark">
    <?php highlight_string('<?php
$this->load->library("curl");
    '); ?>
    </div>
  </div>
  <div class="mb-3">
    <div>Or with core configuration</div>
    <div class="code-box : bg-dark">
    <?php highlight_string('<?php
$controller["loader"] = [
    "libraries"=> [ "curl" ]
];
    '); ?>
    </div>
  </div>
</div>

<div id="how_to_use" class="mb-5 pt-5">
  <h5>How To Use</h5>
  <div>CoreController already provides methods for handling curl, like this for example</div>
  <div class="code-box : bg-dark">
  <?php highlight_string('<?php
// Page Controller
class Page extends BaseController {
  public function index() {
    // set layout configurations
    $data["layout"] = [
      "draw"=> TRUE,
      "source"=> ["Page", "index"],
    ];
    // set request to api to get data
    $data["table"] = $this->api("GET", "table");
    // load layout
    $this->layout( $data );
  }
}
  '); ?>
  </div>
</div>