<!-- NAVBAR -->
<div class="sticky-top w-100 bg-light border overflow-auto scrollbar">
  <div class="navigation-content">
    <a href="#header" class="border-end">#</a>
    <a href="#configurations" class="border-end">Configurations</a>
    <a href="#layouting" class="border-end">Layouting</a>
    <a href="#multiple_layouting" class="border-end">Multitple Layouting</a>
    <a href="#view_data" class="border-end">View Data</a>
  </div>
</div>

<!-- HEADER -->
<div id="header" class="mb-5 pt-5">
  <h3>Template Engine with TWIG</h3>
  <div>
    Twig is the template engine of the php framework namely sympony, this tool is already installed and configured with nirvana, to use it just hook the Controller to CoreController and use the layout method which is integrated with twig.
  </div>
  <br>
  <div>
    official documentations here : <a href="https://twig.symfony.com/">https://twig.symfony.com/</a>
  </div>
</div>

<!-- CONFIGURATIONS -->
<div id="configurations" class="mb-5 pt-5">
  <h5>Configurations</h5>
  <div>There are 2 types of configuration that are already available in the <code>/application/config/</code> directory</div>
  <br>
  <div class="mb-3">
    <h6>1. Twig Based Configurations</h6>
    <div>files are in <code>/application/config/twig.php</code></div>
    <div class="code-box : bg-dark">
    <?php highlight_string('<?php
// folder for twig views/layout
$config["twig_template_dir"] = APPPATH."views";
// folder for twig cache
$config["twig_cache_dir"] = APPPATH."cache/twig";
// set default extension for twig rendering
$config["twig_extension"] = ".html";
    '); ?>
    </div>
  </div>
  <div class="mb-3">
    <h6>2. Core Layout Configurations</h6>
    <div>files are in <code>/application/config/core.php</code></div>
    <div class="code-box : bg-dark">
    <?php highlight_string('<?php
// should be like this, check layouting documentation
$controller["layout"]["default"] = [
  ...
];
    '); ?>
    </div>
  </div>
</div>

<!-- LAYOUTING -->
<div id="layouting" class="mb-5 pt-5">
  <h5>Layouting</h5>
  <div>CoreController already provides a method for Layouting with the name layout using the following</div>
  <div class="code-box : bg-dark">
  <?php highlight_string('<?php
// Page Controller
class Page extends BaseController {
  public function index() {
    // set layout configurations
    $data["layout"] = [
      "draw"=> TRUE,
      "source"=> ["Page", "index"],
    ];
    // set data to view
    $data["data"]["variable"] = "value";
    // load layout
    $this->layout( $data );
  }
}
  '); ?>
  </div>
  <br>
  <p class="m-0">List of Configurations layouts</p>
  <table class="table table-bordered">
    <tr>
      <th>Name</th>
      <th>Child</th>
      <th>Type</th>
      <th>Todo</th>
    </tr>
    <tr>
      <td>draw</td>
      <td>-</td>
      <td>boolean</td>
      <td>activate layout-draw as wrapper</td>
    </tr>
    <tr>
      <td>title</td>
      <td>-</td>
      <td>string</td>
      <td>set title layout</td>
    </tr>
    <tr>
      <td>name</td>
      <td>-</td>
      <td>string</td>
      <td>Set name of layout</td>
    </tr>
    <tr>
      <td>description</td>
      <td>-</td>
      <td>string</td>
      <td>Set description of layout</td>
    </tr>

    <tr>
      <td rowspan="4">stylesheet</td>
    </tr>
    <tr>
      <td>source</td>
      <td>array</td>
      <td>listing all css link here</td>
    </tr>
    <tr>
      <td>validate</td>
      <td>boolean</td>
      <td>Validate source before serve</td>
    </tr>
    <tr>
      <td>builder</td>
      <td>boolean</td>
      <td>Auto builder stylesheet with pair layout</td>
    </tr>

    <tr>
      <td rowspan="4">javascript</td>
    </tr>
    <tr>
      <td>source</td>
      <td>array</td>
      <td>listing all css link here</td>
    </tr>
    <tr>
      <td>validate</td>
      <td>boolean</td>
      <td>Validate source before serve</td>
    </tr>
    <tr>
      <td>builder</td>
      <td>boolean</td>
      <td>Auto builder stylesheet with pair layout</td>
    </tr>
  </table>
</div>

<!-- MULTIPLE LAYOUTING -->
<div id="multiple_layouting" class="mb-5 pt-5">
  <h5>Multiple Layouting</h5>
  <div>files are in <code>/application/config/core.php</code></div>
  <div class="code-box : bg-dark">
  <?php highlight_string('<?php
// should be like this, check layouting documentation
$controller["layout"]["default"] = [
...
];
$controller["layout"]["myLayout"] = [
...
];
  '); ?>
  </div>
</div>

<!-- VIEW DATA -->
<div id="view_data" class="mb-5 pt-5">
  <h5>View Data</h5>
  <div>
    When using the layout method of CoreController, all data will be thrown into the views
    like the view method in codeigniter 3 there are only a few differences and can be accessed
    by javascript.
  </div>
  <div class="code-box : bg-dark">
  <?php highlight_string('<?php
// untuk data dari $data["layout"]["title"]
<div>{{ layout.title }}</div>
// untuk data dari $data["data"]["myVar"]
<div>{{ myVar }}</div>
// accessable on javascript
<script>let title = layout.title</script>
<script>let myVar = myVar</script>
  ') ?>
  </div>
  
</div>