<div Role-Modal="Menu" class="modal fade" aria-labelledby="modal-size-center-scroll" aria-hidden="true">
  <div Role="Menu" class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <form class="modal-content">
      
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Menu</h5>
        <button type="button" class="btn text-danger" data-bs-dismiss="modal" aria-label="Close">
          <i class="fa-solid fa-times fa-xl"></i>
        </button>
      </div>
      
      <div class="card-body p-3">

        <!-- PARENTS LOOPLINE -->
        <ul class="list-group : rounded-0">
          {% for i, menu in menus %}
          <li class="list-group-item : pe-0">
            
            <!-- BOX -->
            <div Role-form="{{ menu.name }}" class="d-flex align-items-center flex-wrap py-2 pe-3">
              <!-- CHECKED & INFO -->
              <input Role-Patch="menu-{{ menu.id_menu }}" onchange="NIRVANA.run('Role', 'Menu', 'optionsChecks', this)" data-to="options-{{ menu.id_menu }}" name="status" type="checkbox" class="form-check-input">
              <i class="fa-duotone fa-fw fa-{{ menu.icon }} fa-xl : {{ ' '~menu.color }} me-3 ms-2"></i>
              <!-- NAME AND INFO -->
              <div class="flex-grow-1 col text-truncate">
                <h6 class="m-0">{{ menu.name }}</h6>
                {% if menu.childs %}
                <small class="text-muted" style="font-size:0.6rem">{{ '#' ~ menu.url }}</small>
                {% else %}
                <small class="text-muted" style="font-size:0.6rem">{{ base_url() ~ menu.url }}</small>
                {% endif %}
              </div>
              <!-- BUTTONS LIST -->
              <div>
                {% if menu.childs %}
                <button class="btn btn-sm btn-secondary" type="button" data-bs-target="#collapse-{{ menu.id_menu }}" data-bs-toggle="collapse">
                  <i class="fa fa-fw fa-chevron-down"></i>
                </button>
                {% endif %}
                <button class="btn px-2 btn-sm btn-primary shadow" type="button" data-bs-target="#collapse-options-{{ menu.id_menu }}" data-bs-toggle="collapse">
                  <i class="fa fa-fw fa-ellipsis-vertical"></i>
                </button>
              </div>
              <!-- LIST OPTIONS -->
              <ul id="collapse-options-{{ menu.id_menu }}" class="nav w-100 : collapse">
                <input type="text" name="id_menu" value="{{ menu.id_menu }}" hidden>
                {% for name, option in options %}
                <li class="nav-link text-dark">
                  <input Role-Patch="menu-{{ menu.id_menu }}-option-{{ name }}" type="checkbox" name="options[{{ name }}]" class="options-{{ menu.id_menu }} : form-check-input">
                  <label class="ms-1">{{ ucfirst(name) }}</label>
                </li>
                {% endfor %}
              </ul>
            </div>
            <!-- BOX -->
            
            <!-- CHILDS LOOPLINE -->
            <ul class="list-group : rounded-0 flex-grow-1 pe-0 collapse" id="collapse-{{ menu.id_menu }}">
              {% for menu in menu.childs %}
              <li class="list-group-item  : pe-0 ms-1 me-0 border-end-0">
                
                <!-- BOX -->
                <div Role-form="{{ menu.name }}" class="d-flex align-items-center flex-wrap py-2 pe-3">
                  <!-- CHECKED & INFO -->
                  <input Role-Patch="menu-{{ menu.id_menu }}" onchange="NIRVANA.run('Role', 'Menu', 'optionsChecks', this)" data-to="options-{{ menu.id_menu }}" name="status" type="checkbox" class="form-check-input">
                  <i class="fa-duotone fa-fw fa-{{ menu.icon }} fa-xl : {{ ' '~menu.color }} me-3 ms-2"></i>
                  <!-- NAME AND INFO -->
                  <div class="flex-grow-1 col text-truncate">
                    <h6 class="m-0">{{ menu.name }}</h6>
                    {% if menu.childs %}
                    <small class="text-muted" style="font-size:0.6rem">{{ '#' ~ menu.url }}</small>
                    {% else %}
                    <small class="text-muted" style="font-size:0.6rem">{{ base_url() ~ menu.url }}</small>
                    {% endif %}
                  </div>
                  <!-- BUTTONS LIST -->
                  <div>
                    {% if menu.childs %}
                    <button class="btn btn-sm btn-secondary" type="button" data-bs-target="#collapse-{{ menu.id_menu }}" data-bs-toggle="collapse">
                      <i class="fa fa-fw fa-chevron-down"></i>
                    </button>
                    {% endif %}
                    <button class="btn px-2 btn-sm btn-primary shadow" type="button" data-bs-target="#collapse-options-{{ menu.id_menu }}" data-bs-toggle="collapse">
                      <i class="fa fa-fw fa-ellipsis-vertical"></i>
                    </button>
                  </div>
                  <!-- LIST OPTIONS -->
                  <ul id="collapse-options-{{ menu.id_menu }}" class="nav w-100 : collapse">
                    <input type="text" name="id_menu" value="{{ menu.id_menu }}" hidden>
                    {% for name, option in options %}
                    <li class="nav-link text-dark">
                      <input Role-Patch="menu-{{ menu.id_menu }}-option-{{ name }}" type="checkbox" name="options[{{ name }}]" class="options-{{ menu.id_menu }} : form-check-input">
                      <label class="ms-1">{{ ucfirst(name) }}</label>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
                <!-- BOX -->

                <!-- CHILDS 2 LOOPLINE -->
                <ul class="list-group : rounded-0 flex-grow-1 pe-0 collapse" id="collapse-{{ menu.id_menu }}">
                  {% for menu in menu.childs %}
                  <li class="list-group-item  : pe-0 ms-1 me-0 border-end-0">
                    
                    <!-- BOX -->
                    <div Role-form="{{ menu.name }}" class="d-flex align-items-center flex-wrap py-2 pe-3">
                      <!-- CHECKED & INFO -->
                      <input Role-Patch="menu-{{ menu.id_menu }}" onchange="NIRVANA.run('Role', 'Menu', 'optionsChecks', this)" data-to="options-{{ menu.id_menu }}" name="status" type="checkbox" class="form-check-input">
                      <i class="fa-duotone fa-fw fa-{{ menu.icon }} fa-xl : {{ ' '~menu.color }} me-3 ms-2"></i>
                      <!-- NAME AND INFO -->
                      <div class="flex-grow-1 col text-truncate">
                        <h6 class="m-0">{{ menu.name }}</h6>
                        {% if menu.childs %}
                        <small class="text-muted" style="font-size:0.6rem">{{ '#' ~ menu.url }}</small>
                        {% else %}
                        <small class="text-muted" style="font-size:0.6rem">{{ base_url() ~ menu.url }}</small>
                        {% endif %}
                      </div>
                      <!-- BUTTONS LIST -->
                      <div>
                        {% if menu.childs %}
                        <button class="btn btn-sm btn-secondary" type="button" data-bs-target="#collapse-{{ menu.id_menu }}" data-bs-toggle="collapse">
                          <i class="fa fa-fw fa-chevron-down"></i>
                        </button>
                        {% endif %}
                        <button class="btn px-2 btn-sm btn-primary shadow" type="button" data-bs-target="#collapse-options-{{ menu.id_menu }}" data-bs-toggle="collapse">
                          <i class="fa fa-fw fa-ellipsis-vertical"></i>
                        </button>
                      </div>
                      <!-- LIST OPTIONS -->
                      <ul id="collapse-options-{{ menu.id_menu }}" class="nav w-100 : collapse">
                        <input type="text" name="id_menu" value="{{ menu.id_menu }}" hidden>
                        {% for name, option in options %}
                        <li class="nav-link text-dark">
                          <input Role-Patch="menu-{{ menu.id_menu }}-option-{{ name }}" type="checkbox" name="options[{{ name }}]" class="options-{{ menu.id_menu }} : form-check-input">
                          <label class="ms-1">{{ ucfirst(name) }}</label>
                        </li>
                        {% endfor %}
                      </ul>
                    </div>
                    <!-- BOX -->
                    
                    <!-- NEXT CHILDRENS HERE -->
                  </li>
                  {% endfor %}
                </ul>
                <!-- CHILDS 2 LOOPLINE -->

              </li>
              {% endfor %}
            </ul>
            <!-- CHILDS LOOPLINE -->

          </li>
          {% endfor %}
        </ul>
        <!-- PARENTS LOOPLINE -->

      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary mt-2" data-bs-dismiss="modal">Cancel</button>
        <button Role-Patch="submit" type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </form>
  </div>
</div>