<div Role-Modal="Menu3" class="modal fade" aria-labelledby="modal-size-center-scroll" aria-hidden="true">
  <div Role="Menu3" class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <form class="modal-content">
      
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Menu</h5>
        <button type="button" class="btn text-danger" data-bs-dismiss="modal" aria-label="Close">
          <i class="fa-solid fa-times fa-xl"></i>
        </button>
      </div>
      
      <div class="modal-body scrollbar p-3 bg-light">

        {% for row in sidebars %}
        <div>
          <div Role-form="role" class="d-flex flex-wrap align-items-center p-3 my-1">
            <input Role-Patch="parent" onchange="NIRVANA.run('Role', 'Menu3', 'allChild', this)" x-name="{{ row.name }}" x-option="parent-{{ row.id_menu }}" id="parent-{{ row.id_menu }}" type="checkbox" class="form-check-input">
            <label for="parent-{{ row.id_menu }}" class="h5 m-0 mx-2 flex-grow-1">
              <i class="fa-duotone fa-{{ row.icon }} fa-lg fa-fw : mx-2 {{ ' '~row.color }}"></i>
              {{ row.name }}
            </label>
            <button type="button" class="btn" data-bs-target="#collapse-{{ row.id_menu }}" data-bs-toggle="collapse">
              <i class="fa fa-ellipsis-vertical"></i>
            </button>
            <ul id="collapse-{{ row.id_menu }}" class="w-100 nav flex-wrap pt-2 collapse">
              {% for name, option in options %}
              <li class="nav-link d-flex align-items-center text-dark col-4">
                <input Role-Patch="parent-{{ row.id_menu }}" type="checkbox" name="options[{{ name }}]" class="form-check-input">
                <span class="ms-2">{{ ucfirst(name) }}</span>
              </li>
              {% endfor %}
            </ul>
          </div>

          {% for child in row.child %}
          <div class="ps-4">
            <div Role-form="role" class="d-flex flex-wrap align-items-center p-3 border-start">
              <input Role-Patch="child-{{ row.name }}" onchange="NIRVANA.run('Role', 'Menu3', 'allOption', this)" x-name="{{ row.name }}" x-option="child-{{ child.id_menu }}" id="child-{{ child.id_menu }}" type="checkbox" class="form-check-input">
              <label for="child-{{ child.id_menu }}" class="h5 m-0 mx-2 flex-grow-1">
                <i class="fa-duotone fa-{{ child.icon }} fa-lg fa-fw : mx-2 {{ ' '~child.color }}"></i>
                {{ child.name }}
              </label>
              <button type="button" class="btn" data-bs-target="#collapse-{{ child.id_menu }}" data-bs-toggle="collapse">
                <i class="fa fa-ellipsis-vertical"></i>
              </button>
              <ul id="collapse-{{ child.id_menu }}" class="w-100 nav flex-wrap pt-2 collapse">
                {% for name, option in options %}
                <li class="nav-link d-flex align-items-center text-dark col-4">
                  <input Role-Patch="child-{{ child.id_menu }}" type="checkbox" name="options[{{ name }}]" class="form-check-input">
                  <span class="ms-2">{{ ucfirst(name) }}</span>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          {% endfor %}
          
        </div>
        {% endfor %}

      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary mt-2" data-bs-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </form>
  </div>
</div>