.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock
tests/mocks/database/ci_test.sqlite

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/
/node_modules/

/application/controllers/development/*
/application/views/development/*

/storage/*
!/storage/index.html

/dataset/tenant
/archive/sessions/*
!/archive/sessions/index.html
/archive/security/*
!/archive/security/index.html
/archive/twigs/*
!/archive/twigs/index.html
/archive/caches/*
!/archive/caches/index.html
/archive/cookies/*
!/archive/cookies/index.html
/archive/logs/*
!/archive/logs/index.html
/resource/*
!/resource/index.html

/application/config/config.php
/application/config/database.php

.well-known
.user.ini

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
