<!-- Parent Loopline -->
<ul class="list-group : rounded-0">
  {% for parent in menu %}
  <li class="list-group-item : pe-0">
    <div class="d-flex align-items-center flex-wrap py-2 pe-3">
      <small class="badge text-muted">{{ parent.stack }}</small>
      <i class="fa-duotone fa-fw fa-{{ parent.icon }} fa-xl : text-{{ parent.color }} me-3"></i>
      <div class="flex-grow-1 col text-truncate">
        <h6 class="m-0">{{ parent.name }}</h6>
        {% if parent.childs %}
        <small class="text-muted" style="font-size:0.6rem">{{ '#' ~ parent.url }}</small>
        {% else %}
        <small class="text-muted" style="font-size:0.6rem">{{ base_url() ~ parent.url }}</small>
        {% endif %}
      </div>
      <div>
        {% if parent.childs %}
        <button class="btn btn-sm btn-secondary" data-bs-target="#collapse-{{ parent.id_menu }}" data-bs-toggle="collapse">
          <i class="fa fa-fw fa-chevron-down"></i>
        </button>
        {% endif %}
        <button class="btn px-2 btn-sm btn-primary shadow dropdown-toggle-split" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa fa-fw fa-ellipsis-vertical"></i>
        </button>
        <ul class="dropdown-menu shadow">
          {% if access.options.create %}
          <li><button class="dropdown-item" onclick="NIRVANA.start('Menu', 'Create', '{{ parent.id_menu }}')"><i class="fa fa-fw fa-plus : me-1 text-secondary"></i> Create</button></li>
          {% endif %}
          
          {% if access.options.view %}
          <li><button class="dropdown-item" onclick="NIRVANA.start('Menu', 'View', '{{ parent.id_menu }}')"><i class="fa fa-fw fa-eye : me-1 text-secondary"></i> View</button></li>
          {% endif %}
      
          {% if access.options.update %}
          <li><button class="dropdown-item" onclick="NIRVANA.start('Menu', 'Update', '{{ parent.id_menu }}')"><i class="fa fa-fw fa-edit : me-1 text-secondary"></i> Update</button></li>
          {% endif %}
      
          {% if access.options.delete %}
          <li><button class="dropdown-item" onclick="NIRVANA.start('Menu', 'Delete', '{{ parent.id_menu }}')"><i class="fa fa-fw fa-trash : me-1 text-secondary"></i> Delete</button></li>
          {% endif %}
        </ul>
      </div>
    </div>

    <!-- Child 1 Loopline -->
    <ul class="list-group : rounded-0 flex-grow-1 pe-0 collapse" id="collapse-{{ parent.id_menu }}">
      {% for child in parent.childs %}
      <li class="list-group-item  : pe-0 ms-1 me-0 border-end-0">
        <div class="d-flex align-items-center flex-wrap py-2 pe-3">
          <small class="badge text-muted">{{ child.stack }}</small>
          <i class="fa-duotone fa-fw fa-{{ child.icon }} fa-xl : text-{{ child.color }} me-3"></i>
          <div class="flex-grow-1 col text-truncate">
            <h6 class="m-0">{{ child.name }}</h6>
            {% if child.childs %}
            <small class="text-muted" style="font-size:0.6rem">{{ '#' ~ child.url }}</small>
            {% else %}
            <small class="text-muted" style="font-size:0.6rem">{{ base_url() ~ child.url }}</small>
            {% endif %}
          </div>
          <div>
            {% if child.childs %}
            <button class="btn btn-sm btn-secondary" data-bs-target="#collapse-{{ child.id_menu }}" data-bs-toggle="collapse">
              <i class="fa fa-fw fa-chevron-down"></i>
            </button>
            {% endif %}
            <button class="btn px-2 btn-sm btn-primary shadow dropdown-toggle-split" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-fw fa-ellipsis-vertical"></i>
            </button>
            <ul class="dropdown-menu shadow">
              {% if access.options.create %}
              <li><button class="dropdown-item" onclick="NIRVANA.start('Menu', 'Create', '{{ child.id_menu }}')"><i class="fa fa-fw fa-plus : me-1 text-secondary"></i> Create</button></li>
              {% endif %}
              
              {% if access.options.view %}
              <li><button class="dropdown-item" onclick="NIRVANA.start('Menu', 'View', '{{ child.id_menu }}')"><i class="fa fa-fw fa-eye : me-1 text-secondary"></i> View</button></li>
              {% endif %}
          
              {% if access.options.update %}
              <li><button class="dropdown-item" onclick="NIRVANA.start('Menu', 'Update', '{{ child.id_menu }}')"><i class="fa fa-fw fa-edit : me-1 text-secondary"></i> Update</button></li>
              {% endif %}
          
              {% if access.options.delete %}
              <li><button class="dropdown-item" onclick="NIRVANA.start('Menu', 'Delete', '{{ child.id_menu }}')"><i class="fa fa-fw fa-trash : me-1 text-secondary"></i> Delete</button></li>
              {% endif %}
            </ul>
          </div>
        </div>

        <!-- Child 2 loopline -->
        <ul class="list-group : rounded-0 flex-grow-1 pe-0 : collapse" id="collapse-{{ child.id_menu }}">
          {% for child_ in child.childs %}
          <li class="list-group-item : pe-0 ms-1 me-0 border-end-0">
            <div class="d-flex align-items-center flex-wrap py-2 pe-3">
              <small class="badge text-muted">{{ child_.stack }}</small>
              <i class="fa-duotone fa-fw fa-{{ child_.icon }} fa-xl : text-{{ child_.color }} me-3"></i>
              <div class="flex-grow-1 col text-truncate">
                <h6 class="m-0">{{ child_.name }}</h6>
                {% if child.child %}
                <small class="text-muted" style="font-size:0.6rem">{{ '#' ~ child_.url }}</small>
                {% else %}
                <small class="text-muted" style="font-size:0.6rem">{{ base_url() ~ child_.url }}</small>
                {% endif %}
              </div>
              <div>
                {% if child_.child %}
                <button class="btn btn-sm btn-light text-dark" data-bs-target="#collapse-{{ child_.id_menu }}" data-bs-toggle="collapse">
                  <i class="fa fa-fw fa-times"></i>
                </button>
                {% endif %}
                <button class="btn px-2 btn-sm btn-primary shadow dropdown-toggle-split" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-fw fa-ellipsis-vertical"></i>
                </button>
                <ul class="dropdown-menu shadow">
                  {% if access.options.create %}
                  <li><button class="dropdown-item" onclick="NIRVANA.start('Menu', 'Create', '{{ child_.id_menu }}')"><i class="fa fa-fw fa-plus : me-1 text-secondary"></i> Create</button></li>
                  {% endif %}
                  
                  {% if access.options.view %}
                  <li><button class="dropdown-item" onclick="NIRVANA.start('Menu', 'View', '{{ child_.id_menu }}')"><i class="fa fa-fw fa-eye : me-1 text-secondary"></i> View</button></li>
                  {% endif %}
              
                  {% if access.options.update %}
                  <li><button class="dropdown-item" onclick="NIRVANA.start('Menu', 'Update', '{{ child_.id_menu }}')"><i class="fa fa-fw fa-edit : me-1 text-secondary"></i> Update</button></li>
                  {% endif %}
              
                  {% if access.options.delete %}
                  <li><button class="dropdown-item" onclick="NIRVANA.start('Menu', 'Delete', '{{ child_.id_menu }}')"><i class="fa fa-fw fa-trash : me-1 text-secondary"></i> Delete</button></li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
        <!-- Child 2 Loopline -->

      </li>
      {% endfor %}
    </ul>
    <!-- Child 1 Loopline -->

  </li>
  {% endfor %}
</ul>
<!-- Parent Loopline -->