<div class="background"></div>

<div nv-component="welcome">
  <div class="container">
    <!-- header welcome -->
    <header>
      <img src="{{ resource('images/codeigniter.webp') }}" alt="codeigniter" width="80px">
      <h1>Nirvana</h1>
      <p>Codeigniter 3 Modified</p>
    </header>
    <br><br>
    <!-- quote about this project -->
    <blockquote>
      <div>
        Di dunia pengembangan web yang selalu bergerak cepat, 
        CodeIgniter 3 mungkin terlihat seperti sebuah peninggalan 
        yang telah dilupakan oleh sebagian besar. Namun, 
        inilah yang membuat proyek Nirvana semakin menarik. 
        Kami memilih CodeIgniter 3 sebagai fondasi kami, 
        bukan karena ia adalah yang terbaru, tetapi karena 
        kami memiliki tekad kuat untuk membangkitkannya kembali, 
        seperti sebuah Phoenix yang muncul dari abu.
      </div>
      <div class="line-top"></div>
      <div class="line-left"></div>
      <div class="line-right"></div>
      <div class="line-bottom"></div>
    </blockquote>
    <br>
    <button class="testApi"></button>
    <!-- codeigniter version -->
    <small>Codeigniter Version - 3.1.13</small>
  </div>  
</div>