<div class="fixed-top w-100 h-100 d-flex align-items-center justify-content-center overflow-auto">
    
  <div class="mb-5">
    <i class="fa-duotone fa-person-digging fa-fade fa-7x"></i>
  </div>
  <div class="text-center text-sm-start" style="text-shadow: 5px 5px 5px rgba(0,0,0,0.1);">
    <div class="d-flex flex-column flex-sm-row align-items-center">
      <h1 class="m-0 display-1 font-700 text-danger">4 0 4</h1>
      <div class="ms-4">
        <h6 class="mb-1 font-300">(error)</h6>
        <h1 class="m-0 font-400">Page Not <span class="text-danger">Found</span></h1>
      </div>
    </div>
    <hr>
    <p>
      The page you are looking for doesnt exist or an other error occured.
      <br>
      you could return to the <a href="{{ base_url() }}" class="btn-link text-danger">homepage</a>.
    </p>
  </div>

</div>