<!-- table -->
<div class="col-sm-12">
  <div class="card mb-5">
    <div class="card-clip-box w-100">
      <div class="card-clip icon left : bg-{{ str_replace('text-', '', sidebars.product.color) }} shadow">
        <i class="fa fa-{{ sidebars.product.icon }} fa-swap-opacity fa-2x"></i>
      </div>
      <div class="card-text ms-4 w-100 d-block d-sm-flex justify-content-between">
        <div class="mb-4">
          <h3 class="m-0">{{ table.header }}</h3>
          <p class="m-0 text-muted">{{ table.description }}</p>
        </div>
        <div class="d-flex align-items-center">
          <div class="dropdown">
            <button class="btn px-3 btn-info shadow" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-file-excel : me-1"></i> Excel
            </button>
            <ul class="dropdown-menu shadow">
              {% if sidebars.product.options.import %}
              <li><button class="dropdown-item" onclick="NIRVANA.start('Product', 'Import')"><i class="fa fa-upload : me-1 text-secondary"></i> Import</button></li>
              {% endif %}
              {% if sidebars.product.options.export %}
              <li><button class="dropdown-item" onclick="NIRVANA.start('Product', 'Export')"><i class="fa fa-download : me-1 text-secondary"></i> Export</button></li>
              {% endif %}
              {% if sidebars.product.options.format %}
              <li><button class="dropdown-item" onclick="NIRVANA.start('Product', 'Format')"><i class="fa fa-table : me-1 text-secondary"></i> Format</button></li>
              {% endif %}
            </ul>
          </div>
          {% if sidebars.product.options.create %}
          <button type="button" class="btn btn-primary : ms-2" onclick="NIRVANA.start('Product', 'Create')">
            <i class="fa fa-add : me-1"></i> Create New
          </button>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="card-body table-responsive p-3 scrollbar">
      <table Product-Table class="datatables : table table-hover">
        <thead>
          <tr>
            <th></th>
            <th>#</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody></tbody>
        <tfoot></tfoot>
      </table>
    </div>
  </div>
</div>
<!-- table button -->
<div Product-Table-Button class="datatables_button" hidden>
  <button class="btn px-3 btn-primary shadow dropdown-toggle-split" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="fa fa-ellipsis-vertical"></i>
  </button>
  <ul class="dropdown-menu shadow">

    {% if sidebars.product.options.view %}
    <li><button class="dropdown-item" onclick="NIRVANA.start('Product', 'View', {id_product})"><i class="fa fa-fw fa-eye : me-1 text-secondary"></i> View</button></li>
    {% endif %}

    {% if sidebars.product.options.update %}
    <li><button class="dropdown-item" onclick="NIRVANA.start('Product', 'Update', {id_product})"><i class="fa fa-fw fa-edit : me-1 text-secondary"></i> Update</button></li>
    {% endif %}

    {% if sidebars.product.options.delete %}
    <li><button class="dropdown-item" onclick="NIRVANA.start('Product', 'Delete', {id_product})"><i class="fa fa-fw fa-trash : me-1 text-secondary"></i> Delete</button></li>
    {% endif %}

    {% if sidebars.product.options.print %}
    <li><button class="dropdown-item" onclick="NIRVANA.start('Product', 'Print', {id_product})"><i class="fa fa-fw fa-print : me-1 text-secondary"></i> Print</button></li>
    {% endif %}
    
  </ul>
</div>



{% set path = layout.source[0] ~ '/' ~ layout.source[1] %}
{% include path ~ '/modal/view.html' %}
{% include path ~ '/modal/create.html' %}
{% include path ~ '/modal/update.html' %}
{% include path ~ '/modal/delete.html' %}
{% include path ~ '/modal/print.html' %}
{% include path ~ '/modal/import.html' %}


<!-- BASE DEFAULT -->
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 99999">
  <div Product-Toast="Default" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-body py-2 px-3 d-flex align-items-center">
      <div Toast-Patch="icon"></div>
      <div Toast-Patch="text" class="w-100"></div>
      <button class="btn text-danger" data-bs-dismiss="toast" aria-label="Close">
        <i class="fa-solid fa-times fa-xl"></i>
      </button>
    </div>
  </div>
</div>