

code {
  padding: 2px 10px;
  font-size: 70%;
  color: #fb7c7c !important;
  background-color: #1b1e20;
  border-radius: 3px;
  filter: brightness(150%);
  overflow: auto;
  box-shadow: 0 3px 7px 0 rgba(0,0,0,0.4);
}

.code-box {
  margin: 5px 0;
  padding: 10px 15px;
  border-radius: 3px;
  filter: brightness(150%);
  overflow: auto;
  box-shadow: 0 3px 7px 0 rgba(0,0,0,0.4);
}
.code-box code {
  padding: none;
  font-size: 90%;
  border-radius: none;
  filter: brightness(100%);
  overflow: none;
  box-shadow: none;
}




.code-box span[style="color: #DD0000"] {
  color: #fb7c7c !important;
}
.code-box span[style="color: #007700"] {
  color: #6995a3 !important;
}
.code-box span[style="color: #0000BB"] {
  color: #7a7aff !important;
}
.code-box span[style="color: #FF8000"] {
  color: #575757 !important;
}



.border.p-1.overflow-auto.scrollbar {
  scroll-behavior: smooth;
}

.navigation-content {
  display: flex;
  flex-wrap: nowrap;
}
.navigation-content a {
  padding: 5px 10px;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
}