


<!-- Base -->
<div class="col-sm-5">
  <div class="card mb-5">
    
    <div class="card-clip-box w-100">
      <div class="card-clip icon left : bg-{{ str_replace('text-', '', access.color) }} shadow">
        <i class="fa-duotone fa-{{ access.icon }} fa-swap-opacity fa-2x"></i>
      </div>
      <div class="card-text ms-4 w-100 d-block d-sm-flex justify-content-between">
        <div class="mb-3 mb-sm-0">
          <h3 class="m-0">{{ table.header }}</h3>
          <p class="m-0 text-muted">{{ table.description }}</p>
        </div>
      </div>
    </div>

    <div class="card-body p-4">
      <div Company="Logo" class="logo-uploader : text-center">
        <div Company-Form="logo" class="position-relative d-inline-block">
          <input onchange="NIRVANA.start('Company', 'Logo', '{{ company.id_company }}')" type="file" name="logo">
          <span>Change</span>
          <img Company-Patch="image-logo" src="{{ company.logo }}" width="90px" class="border rounded">
        </div>
      </div>
      <div Company="Profile">
        <form action="#">
          <div Company-Form="profile">
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input type="text" name="name" class="form-control" value="{{ company.name }}">
            </div>
            <div class="mb-3">
              <label for="name" class="form-label">Description</label>
              <textarea name="description" rows="5" class="form-control">{{ company.description }}</textarea>
            </div>
          </div>
          <div class="text-end">
            <button Company-Patch="submit" type="submit" class="btn btn-primary">Update</button>
          </div>          
        </form>
      </div>
    </div>
    
  </div>
</div>




<div class="col-sm-7" hidden>
  <div class="card mb-5">
    
    <div class="card-clip-box w-100">
      <div class="card-clip icon left : bg-{{ str_replace('text-', '', access.color) }} shadow">
        <i class="fa-duotone fa-image fa-swap-opacity fa-2x"></i>
      </div>
      <div class="card-text ms-4 w-100 d-block d-sm-flex justify-content-between">
        <div class="mb-3 mb-sm-0">
          <h3 class="m-0">Banner</h3>
          <p class="m-0 text-muted">{{ table.description }}</p>
        </div>
      </div>
    </div>

    <div class="card-body p-4">
      ...
    </div>
    
  </div>
</div>



<!-- BASE DEFAULT -->
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 99999">
  <div Company-Toast="Default" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-body py-2 px-3 d-flex align-items-center">
      <div Toast-Patch="icon"></div>
      <div Toast-Patch="text" class="w-100"></div>
      <button class="btn text-danger" data-bs-dismiss="toast" aria-label="Close">
        <i class="fa-solid fa-times fa-xl"></i>
      </button>
    </div>
  </div>
</div>